<!DOCTYPE html>
<html>
  <head>
    <title>Hire Me</title>
    <style>
      h1{
        font-size: 80px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(50,50,50);
        text-align: center;
      }
      h2{
        font-family: Roboto;
        font-size: 32px;
      }
      
      #banner{
        width: 100%;
        height: 460px;
        object-fit: cover;
      }

      #container{
        max-width: 720px;
        margin: 0 auto;
      }

      .bodytext{
        font-family: Roboto;
      }
    </style>
  </head>
  <body>
    <div id='container'>
      <h1>Hire Me</h1>
      <img id='banner' src = "static/banner.jpg" alt = "Profile Picture" />
      <p class='bodytext'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Sed viverra tellus in hac habitasse platea dictumst vestibulum.
        Non quam lacus suspendisse faucibus interdum posuere. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Non enim praesent elementum facilisis. Dolor morbi non arcu risus quis varius quam quisque. 
        Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. Amet est placerat in egestas. 
        Gravida cum sociis natoque penatibus et magnis dis parturient montes. 
        Euismod in pellentesque massa placerat duis ultricies. 
        Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique.
      </p>
      <h2>Open Positions</h2>
      <p class='bodytext'>TODO - Show the jobs here</p>
      <div style="text-align:center">
      <button>Contact US</button>
        <p>Copyright 2024, HIRE ME</p>
      </div>
    </div>
  </body>
</html>